*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    height: 100vh;
    width: 100vw;



}
.header{
    padding: 5px 20px; 
    color: #b6c7e0;
    color: #ebf4f5;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    
    
}
#nav-links ul{
    list-style: none;
    display: flex;
    align-items: center;
    
}
#nav-links ul li{
    margin: 0 15px;

}
#nav-links ul li a{
    text-decoration: none;
    /* color: rgb(41, 83, 135); */
    color: #1f72d1;
}
#nav-links ul li a:hover{
    color: #ebf4f5;
}
#logo img{
    margin: 10px;
    border-radius:100%;
    width: 120px;
    height: 120px;
}
#usrname a{
    font-size: 18px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 8px 12px;
    color: #ebf4f5;
    background-color: #b6c7e0;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;

}
#usrname a:hover{
    background-color: #ebf4f5;
    color:#1f72d1;
}
.hero{
    display: flex;
    justify-content: space-;
    gap: 20px;
    margin: 100px 60px;
    
}
.content{
    flex-basis:50%;
    margin-left: 20px;
}
.content h1 #first{
    font-size: 3rem;
    color: #154c8c;
    margin-top: 30px;
    align-items: center;
}
.content h1 #last{
    font-size: 3rem;
    color: #1f72d1;
    margin-top: 20px;
    align-items: center;
}
.content p{
    font-size: 1.2rem;
    color: gray;
    margin-top: 20px;
}
.content #btn{
    color: whitesmoke;
    background-color:#1f72d1;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
}
.content #btn img{
    width: 18px;
    height: 16px;
    margin-right: 8px;
    image-orientation: flip;
}
.cover-img{
    flex-basis: 50%;
}
.cover-img img {
    width: auto;
    height: auto;
    display: block;
}
.ServiceOverview{
   background-color:#1d71d1 ;
   color: #ebf4f5;
   display:flex;
   justify-content: space-around;
   height: 100px;
    align-items: center;

}
.bookingService{
    display: flex;
    justify-content: space-around;
}
.qualityDescription{
    display: flex;
}
.Newsletter{
    display:flex;
    justify-content: space-evenly;
    background-color: #1d71d1;
    padding: 30px;
    color:#ebf4f5
}
.footer{
    display: flex;
    justify-content: space-around;
    
}
.footer #logo {
    text-align: left;
    flex-basis: 40%;
}
