*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
     background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0px 50px;
}


.nav-links ul {
    list-style: none;
     text-align: center;
    
}
.nav-links ul li {
    display: inline-block;
    padding: 0px 35px;
   
}
.nav-links ul li a:hover {
    color: whitesmoke;
}
.nav-links ul li a {
    text-decoration: none;
    color: black;
}

